# Ignorar logs e arquivos temporários
*.log
*.tmp
*.bak

# Ignorar pastas e arquivos de IDEs e editores
/.idea/
/.project
/.classpath
/.vscode/
/.history/

# Ignorar arquivos de build do Gradle e Maven
/.gradle/
/build/
/gradle/
/gradlew
/gradlew.bat
/gradle-wrapper.jar
/gradle-wrapper.properties

# Ignorar outros artefatos de sistema ou configuração
/.DS_Store
/Thumbs.db

# Ignorar arquivos de ambiente
/.env
/.env.local
/.env.development.local
/.env.test.local
/.env.production.local

# Permitir arquivos e imagens específicos
!*.png
!*.PNG
!*.pdf

# Ignorar arquivos de chave SSH ou chaves privadas
*.pem
*.key
